body {
	width: 90%;
	margin: 0 auto;
	font-family: "Courier New", Courier, monospace;
	background-color: white;
}

.col-md-4,.col-md-8{
margin-bottom: -99999px;
padding-bottom: 99999px;
background-color: lightgrey;
}

.col-wrap{
overflow: hidden; 
}

#css-container {
	background-color: white;
}

#menu{
	width: 90%;
	height: 20px;
	margin: 1%;
	float: center;
	font-size: 120%;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.55em;
	background-color: lightgrey;
	text-align: center;
}

#welcome{
	width: 90%;
	padding: 10px;
	font-size: 100%;
	font-family: "Courier New", Courier, monospace;
	foreground-color: red;
	letter-spacing: 0.55em;	
	background-color: #dcdcdc;
	text-align: center;
}

.column1, .column2, .column3{
	width: 30%;
	margin: 1%;
	float: left;
	border: 4px double #000;
}

.column3{
	margin-right: 0%;
}

#login{
	width: 450px;
	padding: 10px;
	font-size: 110%;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.55em;	
	border: 4px double #000;
	background-color: #dcdcdc;
	text-align: left;
	border-color: black;
	border-radius: 5px;
}

a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
}


a:hover, a.on {
	color: #cc3333;
	background-color: #ffffff;
}

